.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.login-form {
  margin-top: -5rem;
  width: 26rem;
}

@media only screen and (max-width: 600px) {
  .login-form {
    width: 90vw;
  }
}